/* Seminario de Desarrollo Web Frontend (2024-2) */
/* NO MODIFICAR ↓↓↓ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
:root {
    --background: #e0e5ec;
    --gray: #797d7f
}

body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 98%);
    overflow: hidden;
    /*
    background-image: url("../imgs/guillaume.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
}
/*
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
*/

#foto-perfil{
    border-radius: 80%;
}

/* ENCABEZADO */
header {
    width: 100%;
    height: 60px;
    margin-bottom: 100px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    /* eliminar puntitos*/
    list-style: none;
    justify-content: right;
    margin-top: 12px;
    padding: 0 4px;
    align-items: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

nav .nav-right-section a {
    color: rgb(21, 21, 21);
    margin-right: 15.2px;
}

nav .nav-right-section a:hover {
    text-decoration: underline;
}

/* APPS GOOGLE */
nav .nav-right-section .grid {
    width: 24.1px;
    line-height: normal;
    cursor: pointer;
    fill: currentColor;
    color: #5f6368;
    opacity: 1;
    margin-right: 5.2px;
    margin-left: 7.4px;
    margin-top: 4.4px;
}

nav .nav-right-section .grid:hover {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    transition: 0s ease;
}

/* LOGO GOOGLE */
.logo {
    display: block;
    max-height: 92px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

/* BARRA DE BUSQUEDA */
.bar {
    margin: 30px auto;
    width: 573px;
    height: 52px;
    padding-left: 2px;
    border-radius: 30px;
    border: 1px solid #dfe1e5; 
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.bar:hover {
    box-shadow: 1px 1px 8px 1px #f0f0f0;
}

.bar:focus-within {
    box-shadow: 1px 1px 8px 1px #f0f0f0;
    outline: none;
}

.searchbar {
    border-radius: 20px;
    height: 40px;
    border: none;
    margin: 0 10px;
    width: 420px;
    font-size: 16px;
    outline: none;
    padding-top: 8px;
    background-color: rgba(255, 255, 255, 0.0);
}

center {
    display: block;
    text-align: center;
}

/* MENSAJE DE CLASE */ 
.msg {
    display: block;
    text-align: center;
    margin-top: 12px;
    color: #303030;
}

.msg a {
    color: blueviolet;
}

.msg a:hover {
    text-decoration: underline;
}

/* PIE DE PÁGINA*/
footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 95px;
    font-size: 14px;
    font-family: arial, sans-serif;
    vertical-align: middle;
}

/* PAÍS */
.mx {
    width: auto;
    padding: 15px 30px;
    font-size: 15px;
    border-bottom: 1px solid #dadce0;
    color: #70757a;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* NO MODIFICAR ↑↑↑ */

/* AQUÍ PUEDES COMENZAR A ESCRIBIR */
/* ;) */

nav .nav-right-section .profile {
    width: 36px;
    height: 36px;
    border-radius: 20px;
}

nav .nav-right-section .profile:hover {
    box-shadow: 0 0 0 4px hotpink;
    transition: 0s ease;
}

footer nav .left-nav, .right-nav{
    /*eliminar puntitos*/
    list-style: none;
    margin-top: 12px;
    padding-right: 20px;
    align-items: center;
    height: auto;
    display: flex;
}

nav .right-nav a,
.left-nav a {
    display: block;
    color: #303030;
    margin-right: 15px;
}

nav .right-nav a:hover,
.left-nav a:hover {
    text-decoration: underline;
}

.voice{
    height: 20px;
    position: relative;
    margin-bottom: -3px;
    margin-left: 20px;
    margin-right: 2px;
    animation: animacion none 2s infinite alternate ease-in-out;
}

@keyframes animacion {
    0%{bottom: 0px;}
    50%{bottom: 3px; }
    100%{bottom: 0px; }
}

.bi-camera{
    height: 20px;
    position: relative;
    margin-bottom: -3px;
    margin-left: 10px;
    animation: animacion none 2s infinite alternate ease-in-out;
}


.len{
    height: 20px;
    position: relative;
    margin-bottom: -3px;
    margin-left: 10px;
    cursor: pointer;
}

center {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}


center input {
    color: #303030;
    font-weight: 500;
    background-color: #fff;
    padding: 12px 16px;
    box-sizing: border-box;
    margin: 0px;
    border-radius: 40px;
    font-weight: 200;
    border: none;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

center input:hover {
    box-shadow: 1px 1px 8px 1px #f0f0f0;
}

footer {
    background: rgba(255, 255, 255, 0.25) ;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18)
}